*
{
    font-family: 'Arimo', sans-serif;

}
.corpoMenu
{
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.281);

}
.logo{

filter: drop-shadow(4px 4px 4px black)

}
.botoesMenu
{
    color: black;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    margin-right: 20px;
    text-shadow: 2px 2px 3px black;
    -webkit-text-stroke-width: .3px; /* largura da borda */
    -webkit-text-stroke-color: #3f3d56; /* cor da borda */
}
.imgBtn
{
    margin-right: 700px;
}

.corpo 
{
    background-image: url("../img/background.jpg");
    background-position: fixed; 
    background-repeat: no-repeat; 
    background-size: cover; 
    margin-top: 100px;
    height: 570px;

}
.sobre
{
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    margin-top: 100px ;
    box-shadow: 4px 4px 8px black;
    background-color: #e8a530b2;
    width: 450px;
    float: right;
}

.fotoEu
{
    
    margin-left: 150px;
    margin-top: -30px;
    filter: drop-shadow(1px 1px 0 #3f3d56)
    drop-shadow(-1px 1px 0 #3f3d56)
    drop-shadow(1px -1px 0 #3f3d56)
    drop-shadow(-1px -1px 0 #3f3d56);
}
.h
{
  text-align: center;   
  color: white;
  padding-top: 50px;
}

.quem
{
    color: white;
    text-align: center;
    padding-top: 10px;
    text-shadow: 2px 2px 3px black;

}
.eu 
{
    text-align: justify;
    color: white;
    padding-top: 5px;
    text-shadow: 2px 2px 3px black;
    font-size: 15px;
    padding-bottom: 5px;
}
.corpo2
{
    height: 150px;
    background-color: #403e56;
}

.corpo3
{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #e8a530b2;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    box-shadow: 4px 4px 8px black;
    padding-bottom: 20px;
}
.nomes
{
    color: white;
    padding-left: 100px;
    text-shadow: 2px 2px 3px black;
    

}

.fotoL
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(2px 2px 4px black);
}

.corpo4
{
    height: 150px;
    background-color: #403e56;

}

.corpo5
{
    
    background-color: #e8a530b2;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    box-shadow: 4px 4px 8px black;

}
.carta 
{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #403e56 ;
    color: white;
    
}

