.corpoMenu
{
    background-color: rgb(243, 161, 67);
    
}
.logo{

filter: drop-shadow(4px 4px 4px black)

}
.botoesMenu
{
    color: black;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    margin-right: 20px;
    text-shadow: 1px 1px 3px black;
}
.imgBtn
{
    margin-right: 700px;
}
